import type { Metadata } from "next";
import React from "react";

type Props = {
  readonly children: React.ReactNode;
};

export const metadata: Metadata = {
  title: "{{titleCase name}}",
  description: "{{titleCase name}} Description",
};

export function {{pascalCase name}}({ children }: Props) {
  return <div className="container">{children}</div>;
};
